# Break Continue and Pass statements

Break    : Break out of the current loop
Continue : goes to the current loop (dosent execute the lines below)
Pass     : Placeholder

In [3]:
# pass statement (place holder. Does nothing)
for i in [1,2,3,4]:
    pass

In [5]:
# Break statement 
for letter in "naresh":
    if letter == "r":
        break
    else:
        print(letter)

n
a

In [264]:
# Continue statement
for letter in "naresh":
    if letter =="a":
        continue
    print(letter)

n
r
e
s
h

### While Loop

In [2]:
x=0
while x<6:
    print(x)
    x+=1

0
1
2
3
4
5

In [1]:
index = 0
for letter in "abcdefghi":
    print(f"At {index} the letter is {letter}")
    index+=1

At 0 the letter is a
At 1 the letter is b
At 2 the letter is c
At 3 the letter is d
At 4 the letter is e
At 5 the letter is f
At 6 the letter is g
At 7 the letter is h
At 8 the letter is i

## Enumerate Funtion

The enumerate () function adds a **counter** to an iterable and returns it in the form of an **enumerating object**. This enumerated object can then be used directly for loops or converted into a list of **tuples** using the **list() function.**

In [251]:
s = "naresh"
for index , items in enumerate(s):
    print(items , index)

n 0
a 1
r 2
e 3
s 4
h 5

# zip function
The zip() function returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together, and then the second item in each passed iterator are paired together etc.

If the passed iterables have **different lengths**, the iterable with the **least items** decides the **length of the new iterator.**

In [263]:
a = [1,2,3,4,5,6,7]
b = ["green","yellow","sad","group"]
c = ["crabby","sammy","pikachu","dolphin","sabertooth"]
print(list(zip(a,b,c)))
for items in zip(a,b,c):
    print(items)

[(1, 'green', 'crabby'), (2, 'yellow', 'sammy'), (3, 'sad', 'pikachu'), (4, 'group', 'dolphin')]
(1, 'green', 'crabby')
(2, 'yellow', 'sammy')
(3, 'sad', 'pikachu')
(4, 'group', 'dolphin')

 ### IN keyword

In [266]:
"a" in "naresh"

True

In [275]:
d = {"hunta": "summoner", "domino":"siege", "sudo":31}

In [276]:
"domino" in d

True

In [277]:
31 in d

False

In [280]:
31 in d.values()

True

MIN MAX functions

In [5]:
mlist = [0,5,0,3,6,9,8,7,4,-1]

In [1]:
min([0,5,0,3,6,9,8,7,4,-1])

-1

In [3]:
max([0,5,0,3,6,9,8,7,4,-1])

9

# Random library

In [6]:
from random import shuffle
shuffle(mlist)

In [7]:
mlist

[7, 4, 8, 3, 6, 9, 0, 5, -1, 0]

In [8]:
from random import randint
randint(0,101)

9

## Input function

In [9]:
result  = input("Enter a number: ")

Enter a number: 55

In [10]:
result

'55'

In [11]:
result_1 = int(input("Enter a number:"))

Enter a number:55

In [12]:
result_1

55

# List Comprehension
List Comprehensions are a unique way of creating a list in python instead of using for loop with .append() method

In [17]:
my_list = []
string = "hello"

In [15]:
for letter in string:
    my_list.append(letter)
my_list

['h', 'e', 'l', 'l', 'o']

In [16]:
#USING LIST COMPREHENSION

In [21]:
my_list = [letter for letter in string]
my_list

['h', 'e', 'l', 'l', 'o']

In [22]:
list_2 = [x for x in range(0,12)]

In [23]:
list_2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [24]:
list_square = [num**2 for num in range(0,11)]

In [25]:
list_square

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [26]:
list_even = [x for x in range(0,11) if x%2==0]
list_even

[0, 2, 4, 6, 8, 10]

In [41]:
celcius = [0,36.8,38,40,101,520]

In [42]:
fahrenheit = [((9/5) * x + 32 ) for x in celcius]

fahrenheit

[32.0, 98.24, 100.4, 104.0, 213.8, 968.0]

In [43]:
fahrenheit = []

for x in celcius:
    fahrenheit.append((9/5) * x + 32)

fahrenheit

[32.0, 98.24, 100.4, 104.0, 213.8, 968.0]

In [44]:
list1 = [x if x%2 == 0 else "ODD" for x in range(0,11)]
list1

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [46]:
my_list = []

for x in [1,2,3]:
    for y in [1,10,100]:
        my_list.append(x*y)
 
my_list

[1, 10, 100, 2, 20, 200, 3, 30, 300]

In [47]:
my_list = [x*y for x in [1,2,3] for y in [1,10,100]]
my_list

[1, 10, 100, 2, 20, 200, 3, 30, 300]